.personfill{
  position: absolute;
  right:30px;

}
.navbar-nav{
  display:flex;
  gap:40px;
  position: absolute;
  left:50%;
  font-size: 20px;
  font-family: Georgia, serif;
  font-weight: 500;
}
.navbar{
  background-color: #f0e549 !important;
  height: 70px;
}
.navbar-brand{
  font-family: 'Brush Script MT', cursive;
  font-size: 50px;
  
}



.hover {
  background-image: linear-gradient(to right, #714f4f, #3f2828 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.hover:before {
  content: "";
  background: #483939;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.hover:hover {
  background-position: 0;
}

.hover:hover::before {
  width: 100%;
}

/* Presentational Styles */
/* styles.css */
.modal-body{
  height:350px !important;
  display: flex;
  flex-direction: column;
  gap:20px;
}
.form-control{
 
  border:0;
  border-bottom: 2px solid rgb(90, 27, 27);
  height:20px !important;
}
.form-control:hover{
  border:0px;
  border-bottom: 1px solid;
}

.form-floating > label{
  font-weight: 500;
  color: rgb(167, 89, 0);
  font-size: 18px;
}
.modal-title{
  font-family:Georgia, serif;
  position: absolute;
  left:20%;
  font-size: 30px;

}
.modal-header{
  height:100px;
  
}
.modal-footer{
  height:120px;
  

}
.r_button{
  width:160px;
  background-color: #2e1514;
  color:white;
  font-weight: 500;
  height:40px;
  border-radius: 10px;
  position: absolute;
  left:33%;
  transition: all;
}
.r_button:hover{
  transform: scale(1.2);
  
}
.modal-dialog{
  box-shadow: 0px 0px 20px 10px  rgb(0,0,0,0.2);}

#signupstatusmsg{
     text-align: center;
     
}