<div class="mainBlock">
    <div class="product" >
        <div class="image"><img src="{{image}}" alt=""></div>
        <div class="details"><div class="title">{{title}}</div>
        <div class="price"><span></span>{{price}}</div>
        <div class="rating"><li id="{{product_id}}"></li></div>
        <div class="location"><img src="/public/location1.jpeg"  width="20" height="25" alt="">{{city}}</div></div>
        <div><button class="view_btn" onclick="viewSingleProduct()">View Equipment</button></div>
    </div>
</div>