<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT</title>
    <style>
       .product{
            display:flex;
            position:absolute;
            left:20%;
            top:25%;
            gap:20px;
            
        }
        .desc{
            display:flex;
            flex-direction: column;
            gap:10px;
        }
    </style>
</head>
<body>
    <div class="product">
<div><img src="https://www.swarajtractors.com/sites/default/files/images/swaraj_985x590_744_XT.jpg" width="400px" height="350">
</div>
        
<div class="desc">
   <div> <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Tractor</h1>
    <div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:rgb(96, 93, 93) ; font-size: 30px;">Mechanized Farming Tool</div>
</div>
    <div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>Description:</b></div>
    <div style="font-family: Arial, Helvetica, sans-serif;">   This Swaraj 744 FE 4WD is in excellent condition
        Engine Power:50 HP engine
        4WD System: 4-wheel-drive (4WD)
        Hydraulic System:high-lift hydraulic system
        Fuel Efficient
        Farming: Perfect for plowing, tilling, planting, and harvesting.
        Land scaping: Ideal for grading, mowing, and hauling.
        Construction & Excavation: Great for lifting, towing, and moving heavy materials</div>
 

</div>
   

   
</div>
</body>
</html>
